* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridindex {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    grid-template-rows: 5rem 1fr 1fr 1fr 5rem;
    column-gap: 30px;
    grid-template-areas: 
    ". header header ."
    ". lion lion ."
    ". size size ."
    ". habitat habitat ."
    "footer footer footer footer";
    background-color: #1f1f1f;
    color: #fafafa;
}


header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.lineheader {
    line-height: 75px;
}

header li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    font-size: 1.8em;
    margin-left: 1.5em;
    color: inherit;
    letter-spacing: 1px;
}

header a:hover {
    border-bottom: 1px solid #fafafa;
}

footer {
    grid-area: footer;
    display: flex;
}

footer a {
    margin: auto;
}

.lion {
    grid-area: lion;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic {
    grid-area: 2/ 2/ 3/ 3;
    background: url("../images/lion-Kenya-Masai-Mara-National-Reserve.jpg") no-repeat;
    background-size: contain;
    margin-top: 10px;
}

.size {
    grid-area: size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.pic2 {
    grid-area: 3/3/4/4;
    background: url("../images/Federico_Veronesi_Lions-cover-image-e359a4e.jpg") no-repeat right;
    background-size: contain;
}

.habitat {
    grid-area: habitat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.psize {
    max-width: 70ch;
}

.savana {
    grid-area: 4/2/5/3;
    background: url("../images/savana.jpg") no-repeat left;
    background-size: contain;
    margin-bottom: 10px;
}

.selected {
    border-bottom: 1px solid #fafafa ;
}

@media screen and (min-width:1800px) {
    body {
        margin: 0 10%;
    }
}

@media only screen and (max-width:1300px) {
    .gridindex {
        display: grid;
        min-height: 100vh;
        max-width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 1fr 1fr 1fr 5rem;
        row-gap: 20px;
        grid-template-areas: 
        " header"
        " lion  "
        " size  "
        " habitat  "
        " footer  ";
        background-color: #1f1f1f;
        color: #fafafa;
    }

    .habitat p {
        background-color: #1f1f1fbb;
    }


    .savana {
        grid-area: habitat;
        background: url("../images/kenya-g8f8c09f8e_1920.jpg") no-repeat center;
        background-size: contain;
        margin-bottom: 10px;
    }

    .pic2 {
        grid-area: size;
        background: url("../images/Federico_Veronesi_Lions-cover-image-e359a4e.jpg") no-repeat right;
        background-size: contain;
    }

    .pic {
        grid-area: lion;
        background: url("../images/lion-Kenya-Masai-Mara-National-Reserve.jpg") no-repeat;
        background-size: contain;
        margin-top: 10px;
    }
}

@media only screen and (max-width:780px) {
    a {
        font-size: 1em;
        margin-left: 1em;
        word-spacing: normal;
    }
}

